[Unit]
Description=Refresh Panel Stream Scripts 30s After Bootup

[Service]
Type=simple
ExecStart=%h/.local/share/rc67/panel_scripts/manualPanelRefresh.sh

[Install]
WantedBy=default.target
